# Pasta do Visual Studio
.vs/
.vscode/

# Arquivos de solução
*.sln

# Diretórios de build
x64/
Debug/
Release/
build/
libs/

# Arquivos temporários
*.obj
*.log
*.user
*.suo
*.cache
*.pdb
*.tlog

# Diretórios comuns de binários
bin/
obj/

# Outros arquivos desnecessários
*.VC.db
*.VC.opendb

*.vcxproj
*.vcxproj.filters

*.spv
*.cmake